.container-fluid.l-container.about-page
	.h1.text-center(ng-bind-html="vm.page.title.rendered")
	div(ng-bind-html="vm.page.content.rendered")
	//+carousel-row

	//.row
	//	.col-xs-12.overflow-x
	//		table.m-service
	//			caption Прблизительные цены на услуги сервиса
	//			thead
	//				tr
	//					td Название услуги
	//					td Краткое описание
	//					td Примерная цена
	//
	//			tbody
	//				- var rowsNum = new Array(20)
	//				each i in rowsNum
	//					tr
	//						td Заголовок
	//						td.
	//							Lorem ipsum dolor sit amet, nec quis prima simul ea, sed lorem labores fabellas
	//							ex, sed alii solet ad. Usuad cetero insolens. At est porro habemus.Lorem ipsum
	//							dolor sit amet, nec quis prima simul ea, sed lorem labores fabellas #[a(href="") Подробнее]
	//						td 5 000 - 10 000 р