// colors
$grey1 = #d8d8d8
$grey2 = #b2b2b2
$grey3 = #676767
$grey4 = #262626

$blue1 = #21272d

$red1 = #b4141b

// colors aliases
$red = $red1
$black = $grey4
$grey = $grey3
$greyLight = $grey2

$hoverBoxShadow = 0 0 2px 1px $grey1