// NINJA!
html
	head
		base(href="/")
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="robots" content="noindex, nofollow")
		meta(name="robots" content="noarchive")
		title NINJA`S WORKSHOP
	body(ng-app="app" ng-controller="app.ctrl as ninja" ng-strict-di)
		div(ui-view="content")
