@import '~vendor/vendor' // need to be here to get boostrap variables
@import './app.config.styl'

@import './core/core.style.styl'
@import './layout/index'
@import './ui/index'

if ($debug)

	body
	body *
		outline 2px dashed red !important
		debug()
		hoverBoxShadow()

script
	//width: 100px
	height: 100px
	background: red
	display: block
	position: relative
	&:before
		position absolute;
		content: attr(src)
		top: 0
		left: 0
		width: 100%
		text-align: center