@import './base/buttons'
@import './base/inputs'
@import './base/tables'
@import './base/other'

@import 'navigation'
@import 'breadcrumb'
@import 'logos'
@import 'tree-list'
@import 'pagination'

//// TODO refactor this carousel`s hell
@import 'slick'
@import 'slick-theme'
@import 'carousel'
@import 'images-gallery'

@import 'pallete'
@import 'article'
@import 'map'
@import 'contacts'

@import 'elements'
@import 'modal'