.l-content
	background url("~img/content-bg-left.png") 0 calc(100% + 50px) no-repeat fixed
	background-size 520px

	@media screen and (min-width: $screen-sm)
		background:
			url("~img/content-bg-left.png") 0 calc(100% + 80px) no-repeat fixed,
			url("~img/content-bg-right.png") 100% -129px no-repeat fixed
		background-size 459px, 589px

	@media screen and (min-width: $screen-md)
		background-size 509px, 619px

	@media screen and (min-width: $screen-)
		background-size 559px 741px, 729px 410px // real size

	.l-container
		padding-top: 20px
		padding-bottom: 20px