html
body
	width: 100%
	height: 100%

body
	max-width: 100%
	//overflow-x hidden
	&, & *
		font-family 'ClearSans'

img
	max-width 100%
	width: auto
	height: auto

.l
	width: 100%
	height: 100%

.l-main
	width: 100%
	height: 100%
	display: table

	.l-header
		display: table-row
		height: 1px
		//@media screen and (min-width: $screen-desktop)
		//	height: 100vh
		//	min-height

	.l-main-navigation
		display: table-row
		height: 1px

	.l-content
		display: table-row
		height: 100%

	.l-footer
		display: table-row
		height: 1px

	.l-container
		max-width 1008px
		margin: 0 auto

	& > .ui-carousel
		display: table-row
		height: 1px